body, p, td, tr, th, ul, a {
	font-family: Times New Roman, Garamond, serif;
	font-size: 12pt;
	color: #000000;
	background-color: #FFFFFF;
	background: white;
	margin: 5px;
	padding: 0px;
}
.videosmall {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}

.hide  { 
display: none; 
}
